header {
    background-color: #D8D8D8;
    padding-left: 10px; padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
    height: 50px;
}
.nav-icon {
    width: 30px;
    height: 30px;
}
.nav-list {
    display: none;
}
.nav-list__close-icon {
    width: 30px;
    height: 30px;
}
.nav-list__item {
    width: 140px;
    height: 250px;
    color: #000000;
    text-decoration: none;
}


@media screen and (min-width: 1000px) {
    header {
        padding-left: 20px; padding-right: 20px;
    }
    .logo {
        width: 200px;
        height: 66px;
    }
    .nav-icon {
        display: none;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 6px;
        font-size: 16px;
    }
    .nav-list__close-icon {
        display: none;
    }
    .nav-list__item {
    }
}