{% extends 'base.html.twig' %}

{% block title %}New Serve{% endblock %}

{% block body %}
    <h1>Create new Serve</h1>

    {{ include('serve/_form.html.twig') }}

    <a href="{{ path('app_serve_index') }}">back to list</a>
{% endblock %}
