@font-face { 
    font-family: ModernSans-Light; 
    src: url('../../Police/ModernSans-Light.otf');
}
main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.services, .vehicules, .avis, .avis__commentaire-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.services, .vehicules, .avis {
    width: 360px;
}
.services__title, .vehicules__title, .avis__title {
    margin-top: 6px; margin-bottom: 6px;
    text-align: center;
}
.services__service-name, .services__service-score, .vehicules__text {
    margin-top: 1px; margin-bottom: 1px;
    text-align: start;
}
hr {
    border-bottom: 0px;
    width: 100%;
    size: 1;
}

.avis__commentaire-affichage, .avis__commentaire-btn {
    align-items: center;
    gap: 10px;
}



.avis__commentaire-affichage {
    margin: 6px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 1px solid #C5C5C5;
    box-shadow: 4px 4px 7px #aaaaaa;
}
.services__service-name, .services__service-score {
    width: fit-content;
}
.services__service-comment {
    width: 100%;
}

.avis__commentaire-btn {
    margin: 6px;
}
.avis__commentaire-btn__item {
    padding-top: 2px; padding-bottom: 2px;
    width: fit-content;
    background-color: #000000;
    color: white;
    font-family: ModernSans-Light;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.avis__commentaire-btn__item:hover {
    background-color: #3c3c3c;
}

@media screen and (min-width: 1000px) {

}